<!--<h1>Log In!</h1>
<br>
<%#= render "layouts/errors" %>
<%#= form_for(@user), url: session_url  do |f| %>
    <p>
    <%#= f.label :username %>
    <%#= f.text_field :username %>
    </p>
    <p>
    <%#= f.label :password %>
    <%#= f.password_field :password %>
    </p>
    <p>
    <%#= f.submit "Log In" %>
    </p>
<%# end %>
-->

<h1>Log In</h1>

<form action='/session' method="POST">
    <%= auth_token %>

    <label for='user_username'>Username</label>
    <input
        type="text"
        name="user[username]"
        id="user_username">

    <label for="user_password">Password</label>
    <input type="password" name="user[password]" id="user_password">

    <input type="submit" value="Log In!">
</form>