
<h1>Sign Up</h1>

<form action="/users" method="POST">
    <%= auth_token %>

    <label for='user_username'>Username</label>
    <input
        type="text"
        name="user[username]"
        id="user_username"
        value="<% @user.username %>">

    <label for="user_password">Password</label>
    <input type="password" name="user[password]" id="user_password">

    <input id="signup" type="submit" value="Sign Up!">
</form>